<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container justify-content-between">
            <a class="navbar-brand" asp-area="" asp-controller="ShortUrl" asp-action="Index">URL Shortener</a>
            <partial name="_LoginPartial" />
        </div>
    </nav>
</header>