@using Microsoft.AspNetCore.Identity
@using UrlShortener2.Data.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link btn btn-link text-dark" asp-controller="account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="account" asp-action="login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="account" asp-action="Register">Register</a>
        </li>
    }
</ul>

